app-news {
    transform: rotate(-90deg);
    position: absolute;
    width: 80vh;
    height: 200px;
    bottom: calc(50% - 100px);
    right: calc(0% - 150px);
}

app-clock {
    transform: rotate(-90deg);
    position: absolute;
    width: 400px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    bottom: calc(200px - 60px + 50px);
    left: calc(-200px + 60px + 50px);
}

app-weather {
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    left: 50px;
}
