app-news {
    transform: rotate(-90deg);
    position: absolute;
    width: 80vh;
    bottom: 50%;
    right: calc(-40vh + 100px);
}

app-clock {
    transform: rotate(-90deg);
    position: absolute;
    width: 400px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    bottom: calc(200px - 60px);
    left: calc(-200px + 60px);
}

app-weather {
    transform: rotate(-90deg);
    position: absolute;
}
