.news-title {
    text-align: center;
    font-size: 16px;
    white-space: none;
}

.news-description {
    text-align: center;
    font-size: 12px;
    white-space: none;
}

.news-container {
    position: relative;
}
