.news-title {
    text-align: center;
    font-size: 1.8em;
    white-space: none;
}

.news-description {
    text-align: center;
    font-size: 1em;
    white-space: none;
}

.news-container {
    position: relative;
}
